In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\BeeClick\Desktop\project_fin_SAS\london_merged.csv")
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  str
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), str(1)
memory usage: 1.3 MB

In [4]:
df["is_weekend"] = df["is_weekend"].astype(int)
df["is_holiday"] = df["is_holiday"].astype(int)
df["season"] = df["season"].astype(int)
df["weather_code"] = df["weather_code"].astype(int)

In [5]:
df.shape #the number of lines and columns

(17414, 10)

In [6]:
df.dtypes #data types

timestamp           str
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code      int64
is_holiday        int64
is_weekend        int64
season            int64
dtype: object

In [7]:
print(df.isnull().sum()) #valeur manquants

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [8]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17409    False
17410    False
17411    False
17412    False
17413    False
Length: 17414, dtype: bool

In [9]:
df = df.rename(columns={"cnt":"Nombre de trajets"})
df = df.rename(columns={"t1":"Température réelle (°C)"})
df = df.rename(columns={"t2":"Température ressentie (°C)"})
df = df.rename(columns={"hum":"Humidité"})
df = df.rename(columns={"wind_speed":"Vitesse du vent (km/h"})
df = df.rename(columns={"weather_code":"Météo"})
df = df.rename(columns={"season":"Saison"})

In [10]:
df['Humidité'] = df['Humidité'] / 100

In [11]:
Saison_map = {
    0 : 'Printemps', 1 : 'Été', 2 : 'Automne', 3 : 'Hiver'
}
df["Saison"] = df["Saison"].map(Saison_map)
df

,timestamp,Nombre de trajets,Température réelle (°C),Température ressentie (°C),Humidité,Vitesse du vent (km/h,Météo,is_holiday,is_weekend,Saison
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3,0,1,Hiver
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1,0,1,Hiver
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1,0,1,Hiver
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1,0,1,Hiver
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1,0,1,Hiver
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,3,0,0,Hiver
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,4,0,0,Hiver
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,4,0,0,Hiver
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,4,0,0,Hiver
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,2,0,0,Hiver

In [12]:
Météo_map = {
    1 : 'Clair', 2 : 'Nuages épars', 3 :' Nuages fragmentés', 4 : 'Couvert,', 7 : 'Pluie', 10 : 'Pluie avec orage' , 26 : 'Neige'
}
df["Météo"] = df["Météo"].map(Météo_map)
df.head

<bound method NDFrame.head of                  timestamp  Nombre de trajets  Température réelle (°C)  \
0      2015-01-04 00:00:00                182                      3.0
1      2015-01-04 01:00:00                138                      3.0
2      2015-01-04 02:00:00                134                      2.5
3      2015-01-04 03:00:00                 72                      2.0
4      2015-01-04 04:00:00                 47                      2.0
...                    ...                ...                      ...
17409  2017-01-03 19:00:00               1042                      5.0
17410  2017-01-03 20:00:00                541                      5.0
17411  2017-01-03 21:00:00                337                      5.5
17412  2017-01-03 22:00:00                224                      5.5
17413  2017-01-03 23:00:00                139                      5.0

       Température ressentie (°C)  Humidité  Vitesse du vent (km/h  \
0                             2.0     0.930                    6.0
1                             2.5     0.930                    5.0
2                             2.5     0.965                    0.0
3                             2.0     1.000                    0.0
4                             0.0     0.930                    6.5
...                           ...       ...                    ...
17409                         1.0     0.810                   19.0
17410                         1.0     0.810                   21.0
17411                         1.5     0.785                   24.0
17412                         1.5     0.760                   23.0
17413                         1.0     0.760                   22.0

                    Météo  is_holiday  is_weekend Saison
0       Nuages fragmentés           0           1  Hiver
1                   Clair           0           1  Hiver
2                   Clair           0           1  Hiver
3                   Clair           0           1  Hiver
4                   Clair           0           1  Hiver
...                   ...         ...         ...    ...
17409   Nuages fragmentés           0           0  Hiver
17410            Couvert,           0           0  Hiver
17411            Couvert,           0           0  Hiver
17412            Couvert,           0           0  Hiver
17413        Nuages épars           0           0  Hiver

[17414 rows x 10 columns]>

In [13]:
#la humidite doit etre entre 0 et 1
assert df["Humidité"].between(0,1).all()

In [14]:
df.to_csv("london_road.xlsx")